%section
  %h1 Transmaker とは何ですか？

  %p これは、翻訳ツールです。翻訳結果の選択を書き換えます。

  %ul
    %li 置換
    %li 挿入
    %li 元に戻す

  %p インタラクティブに外国語のページを翻訳することができます。

  %p <font color="red">フォントの色</font>, <font size="30px">大きさ</font>, <a href="http://transmaker.ongaeshi.me/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">リンク</a> は維持されます.
