- @page_title = 'Install'

%section
  %h1 インストール
  %dt TransmakerはFirefoxアドオンです。次のページからインストールして下さい。
  %dd <a href="https://addons.mozilla.org/en-US/firefox/addon/transmaker/">Transmaker :: Add-ons for Firefox</a>

  %p インストールが完了したら、ページをリロードして下さい。

