!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Transmaker Demo'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}

  %body
    %header
      %h1 <a href="."><img src="images/TransmakerIcon128.png" /></a> Transmaker デモ<br> <span class="small">
      %nav
        %ul
          %li <a href="./index.html">ホーム</a>
          %li <a href="./install.html">インストール</a>
          %li <a href="./languages.html">言語</a>
          %li <a href="./hotkeys.html">ホットキー</a>

    #contents
      != yield

    %hr

    %footer
      %p
        ! Developed by <a href="http://ongaeshi.me/">ongaeshi</a>.
